html, body {
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.logo {
	filter: invert(100%);
}

header{
	background-color: blue;
	height: 240px;
}

.logo{
	margin: 10px -10px 10px 10px;
}

ul{
	list-style-type: none;

}

nav a{
	display: block;
	margin: -75px -50px 30px 250px;
	text-decoration: none;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 15px;
}

.building-img{
	width: 100%;
	max-width: 645px;
	height: 375px;
	object-fit: cover;
	display: block;
	margin: auto;
	margin-top: -110px;
	margin-left: 221px;
}

.p {
	margin: 0px 221px;
}

nav li{
	display: inline-block;
	width: 130px;
}

.Rectangle-92{
	width: 100%;
	max-width: 120px;
	height: 112px;
	margin: 0px 219px;
}

.Rectangle-93{
	width: 100%;
	max-width: 120px;
	height: 112px;
	margin: -116px 350px 100px;
}

.Rectangle-94{
	width: 100%;
	max-width: 120px;
	height: 112px;
	margin:-250px 481px 118px;
}

.Rectangle-95{
	width: 100%;
    max-width: 120px;
    height: 112px;
    margin: -250px 613px 136px;
}

.Rectangle-96{
	width: 100%;
    max-width: 120px;
    height: 112px;
    margin: -252px 745px 162px;
}